.full-page {
  margin-top: 200px;
}

.container {
  width: 900px;
}

div.content {
  padding-left: 20px;
}

.buttons {
  margin-top: 20px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}
