@import "../../variables";

.home-animation {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  & > * {
    margin: 0 18px;
  }

  .home-animation-image {
    display: inline-block;
    width: 240px;
  }

  .home-animation-separator {
    display: inline-block;
    width: 1px;
    height: 77px;
    background-color: $brown-bg;
  }

  .home-animation-button {
    display: inline-block;
    width: 336px;
    height: 50px;
    border-radius: 5px;
    border: solid 1px $brown-bg;
    background-color: #ffffff;
    color: $brown-text;
    font-size: 23.6px;
    line-height: 46px;
  }
}
