@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800");

:global {
  @import "antd/dist/antd.min.css";

  .full-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
